@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

fieldset {
    border: 2px solid black;
}

#transformations {
    #transpositions,
    #inversions,
    #prime-form,
    #normal-form {
        margin-bottom: 2em;
    }
}
