@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

fieldset {
    border: 2px solid black;
}

#transformations {
    #transpositions,
    #inversions,
    #prime-form,
    #normal-form {
        margin-bottom: 2em;
    }
}

#form-fields {
    min-height: 498px;
}
